mixin message(message)
  .message-container 
    .message-wrapper
      h1.title= message.title 
      p.message= message.message
      div.author-date
        p.author= message.user.name 
        p.date= message.dateFormatted
      if currentUser.isAdmin
        .post-buttons 
          button.delete-button(onclick=`deleteMessage("${message.id}")`)
            i.fa-solid.fa-trash.fa-lg
          button.edit-button(onclick=`editMessage("${message.id}")`)
            i.fa-solid.fa-pen-to-square.fa-lg

block content
  script.
    function deleteMessage(messageId){
      window.location.href= '/delete/'+messageId;
    }
    function editMessage(messageId){
      window.location.href= '/edit/'+messageId;
    }
  if messages
    each message in messages 
      +message(message)

  
