extends layout 


block content
  script.
    function logout(){
      window.location.href= '/log-out'
    }
    function login(){
      window.location.href= '/login'
    }
    function signup(){
      window.location.href= '/signup'
    }
    function secretRiddle(){
      window.location.href = '/secret-riddle'
    }
    function writePost(){
      window.location.href = '/write-post'
    }
  
  if !currentUser
    header.header
      .header-container
        h1 Insider Society 
        .buttons-container
          button(onclick = 'login()') Log In
          button(onclick = 'signup()') Sign Up
    .container
      h2.create-account-message Create an account to get access to all the features.
      include messageboards/anonymousMessageboard.pug
  if currentUser && !currentUser.isMember
    .container 
      .buttons-container
        button(onclick = `secretRiddle()`) Secret Riddle 
        button(onclick = `logout()`) Log Out
      h1.greeting Welcome #{currentUser.name}
      include messageboards/anonymousMessageboard.pug
  if currentUser && currentUser.isMember
    header.header
      .header-container
        h1 Insider Society 
        .buttons-container
          button(onclick = `writePost()`) Write Post
          button(onclick = `logout()`) Log Out
    .container
      h1.greeting Welcome #{currentUser.name}.
      include messageboards/messageBoard.pug


