mixin anonymousMessage(message)
  .message 
    .message-wrapper 
      h1.title= message.title 
      p.message= message.message 
      p.note= "ONLY MEMBERS CAN VIEW NAMES"

mixin message(message)
  .message 
    .message-wrapper 
      h1.title= message.title 
      p.message= message.message
      div.author-date
        p.author= message.author 
        p.date= message.dateFormatted

block content 
  if !currentUser
    if messages
      each message in messages
        +anonymousMessage(message)
  else
    if messages
      each message in messages 
        +message(message)

  
