extends ../layout  

block content 
  script.
    function redirectHome(){
      window.location.href= '/'
    }
  div.form-container(id= "sign-up")
    form.form(action="/signup" method = "POST")
      button.close(type="button" onclick = `redirectHome()`)
        i.fa-solid.fa-x.fa-lg
      h1 Sign Up 
      label(for="full-name") Name:
      if errors && errors["full-name"]
        span.error #{errors["full-name"].msg}
      input(type="text" name="full-name" id="full-name" autocomplete="off")
      label(for="email") Email:
      if errors && errors.email
        span.error #{errors.email.msg}
      input(type="email" name="email" id="email" autocomplete="off")
      label(for="password") Password:
      if errors && errors.password
        span.error #{errors.password.msg}
      input(type="password" name="password" id="password" autocomplete="off")
      label(for="confirm-password") Confirm Password:
      if errors && errors["confirm-password"]
        span.error #{errors["confirm-password"].msg}
      input(type="password" name="confirm-password" id="confirm-password" autocomplete="off")
      button(type="Submit") Submit
